/* Genel sayfa düzeni */
body {}

/* Login container */
.login-container {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #6d72a2, #51547c);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}

/* Login box */
.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 600px;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Input group */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #6e7dff;
}

/* Button */
.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #6c78e0;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #8286b8;
}

/* Sign Up Link */
.signup-link {
    font-size: 14px;
    margin-top: 20px;
    color: #555;
}

.signup-link a {
    color: #6e7dff;
    text-decoration: none;
    font-weight: 600;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 480px) {
    .login-box {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    .input-group input {
        font-size: 14px;
    }

    .login-btn {
        font-size: 14px;
    }
}